# Renombrar a .env antes de correr el proyecto

FASTIFY_LOG_LEVEL=info
FASTIFY_SECRET=MySuperSecr3t
FASTIFY_PORT=3000

# --- Postgres (pg toma estas variables automaticamente, no hace falta pasarlas al Pool) ---
PGUSER=ucu
PGPASSWORD=secretpassword
PGHOST=localhost
PGPORT=5432
PGDATABASE=proyecto
